{% extends 'themes/base_visitor.html.twig' %}

{% block title %}Ville{% endblock %}

{% block description %}Ville{% endblock %}

{% block keywords %} Chaussure,ville{% endblock %}

{% block main %}

 <h1 class="text-center">Categorie Ville</h1>

{% endblock %}