{% extends 'themes/base_visitor.html.twig' %}

{% block title %}Paiement{% endblock %}

{% block description %}Paiement{% endblock %}

{% block keywords %} Chaussure,Paiement{% endblock %}

{% block main %}

 <h1 class="text-center">Page de Paiement</h1>

{% endblock %}