{% extends 'themes/base_visitor.html.twig' %}

{% block title %}Services{% endblock %}

{% block description %}Services{% endblock %}

{% block keywords %} Chaussure, service{% endblock %}

{% block main %}

 <h1 class="text-center">Les services</h1>

{% endblock %}