{% extends 'themes/base_visitor.html.twig' %}

{% block title %}Commande{% endblock %}

{% block description %}Commande{% endblock %}

{% block keywords %} Chaussure,Commande, Produit{% endblock %}

{% block main %}

    <h1 class="text-center">Ma commande</h1>
    
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                formulaire : adresse de livraison
            </div>
            <div class="col-md-9">
                recap
            </div>
        </div>
    </div>
    
   
{% endblock %}