{% extends 'themes/base_visitor.html.twig' %}

{% block title %}Panier{% endblock %}

{% block description %}Panier{% endblock %}

{% block keywords %} Chaussure,Panier, Produit{% endblock %}

{% block main %}

 <h1 class="text-center">Panier</h1>

{% endblock %}