{% extends 'themes/base_visitor.html.twig' %}

{% block title %}Sneacker{% endblock %}

{% block description %}Sneacker{% endblock %}

{% block keywords %} Chaussure,Sneacker{% endblock %}

{% block main %}

 <h1 class="text-center">Categorie Sneacker</h1>

{% endblock %}