{% extends 'themes/base_visitor.html.twig' %}

{% block title %}A propos{% endblock %}

{% block description %}A propos{% endblock %}

{% block keywords %} Chaussure,Chic,A propos{% endblock %}

{% block main %}

 <h1 class="text-center">Qui sommes-nous</h1>

{% endblock %}