{{ form_start(form, {'attr': {'class':'d-flex', 'method':'GET', 'action': path('app_search')}}) }}
    {{ form_widget(form.category, {'attr': {'class':'form-control  rounded-0 rounded-start bg-light w-75'}}) }}
    {{ form_widget(form.keywords, {'attr': {'class':'form-control  rounded-0'}}) }}
    <button class="search-button" type="submit" class="btn btn-primary rounded-0 rounded-end-3">
        <i class="fas fa-search"></i>
    </button>
{{ form_end(form) }}




